@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Inter:wght@500&family=Kumbh+Sans:wght@400;700&family=Lexend+Deca:wght@400;700&family=Mukta:wght@800&family=Outfit&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("images/bg-pattern-top.svg");
    background: url("images/bg-pattern-bottom.svg");
    height: 100vh;
    background-color: hsl(185, 75%, 39%);
    font-family: 'Kumbh Sans', sans-serif;
    overflow: hidden;
}

.profileCard{
    width: 350px;
    height:400px;
    background-color: white;
    text-align: center;
    border-radius: 15px;
}


.top-image{
    position: relative;
    height: 150px;
    width: 350px;
    background: url("images/bg-pattern-card.svg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.basicInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.data{
    position: relative;
    top: 10px;
    bottom:1px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 20px;
    color:hsl(229, 23%, 23%); 
}

.data span{
    position: relative;
    display: flex;
    font-size: 13px;
    color:hsl(227, 10%, 46%);
    font-weight: 300;
}
hr{
    position: relative;
    bottom: 10px;
    color: whitesmoke;
    width: 100%;
}

.victor{
    position: relative;
    top: -50px; 
    border-radius: 50%;
    border: 5px solid white;
    width: 100px;
    height: 100px;
}

.profileinfo{
    position: relative;
    top: -35px;
}

.profileinfo span{
    position: relative;
    left: 8px;
    color: hsl(227, 10%, 46%);
}

.name{
    color: hsl(229, 23%, 23%);
    font-size: 20px;
}

.city{
    color:hsl(227, 10%, 46%);
    padding: 10px;
}

